@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  font.font-family: 'Poppins', sans-serif;
}
body{
  background-image: url(https://i.pinimg.com/originals/52/8f/ba/528fba70bf9ae92b23efc4b64a9688e2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  background-color: black;

}

H1{
  color: #FFFFFF
}
.Navegador ul li p{
  color: white;
  padding: 7px 2px 7px 2px;
}
.Navegador ul li A{
  color: white;
  padding: 7px 2px 7px 2px;
  text-decoration:none;
  display: block;
}
.Navegador li ul{
  display: none;
  position: absolute;
  max-width: 140px;
}
.Navegador li ul li {
  margin: 10px 10px 0 10px;
}
.Navegador li:hover > ul {
  display: block;
}
.Navegador li{
  list-style: none;
  display: inline-block;
  margin: 60px 30px 0 50px;
  text-align: center;
}
.Navegador img{
  width: 2%;
}

div p {
  top: 2000px;
  color:white;
}

div h2 {
  top: 2000px;
  color:white;
}

div A {
  top: 2000px;
  color:white;
}

.Secciones h2 {
  position: absolute;
  top: 180%;
  left: 41%;
  text-align: center;

}
.Secciones p {
  position: absolute;
  top: 190%;
  left: 31%;
  text-align: center;
}

.NTemas img{
  left: 10PX;
  padding: 15px;
  float: left;
}
.NTemas-r img{
  left: 10PX;
  padding: 15px;
  float: left;
}

.NTemas {
 position:  absolute;
 top: 210%;
 left: 10%;
 right: 10%;

}
.NTemas-r{
  position:  absolute;
  top: 300%;
  left: 23%;
  right: 23%;
}

/*Test*/

.VentanaTest {
  background: rgba(206, 66, 0, 0.9);
  width: 50%;
  color: rgba(241, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 33px;
  min-height: 250px;
  border-radius:22px;
  position:absolute;
  left: 22%;
  top: 55%;
  display: none;
}

.VentanaTest img{
  width: 400px;
  right: 200px;
  position: relative;
  left: 0%;
}

#cerrar img {
  position: absolute;
  right: 3px;
}
#cerrar img {
  width: 20px;
}
#respuestas div{
  width: 280px;
  height: 20px;
  float: left;
  padding: 10px;
  margin-left: 10px;
}

#respuestas input{
  position: relative;
  left: 10PX;
  float: left;
  margin-left: 20px;
}

#respuestas label{
  background: rgba(255, 50, 0, 0.50);
  position: relative;
  left: 0PX;
  width: 240px;
  padding: 2px;
}



.testPeliculas {
  position: absolute;
  left: 40%;
  top: 140%;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px;
  color: #fff;
  background: rgba(300, 50, 20, 0.5);
  border-radius: 40px;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  overflow: hidden;
}

span
{
  position: absolute;
  background: #fff;
  transform: translate(-50%,-50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}
@keyframes animate
{
  0%
  {
    width: 0;
    height: 0;
    opacity: 0.2;
  }
  100%
  {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/*
.Contenido .Navegador , .Secciones , .Temas , .Temas-r , .NTemas , .NTemas-r{
  white:100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
*/
