body{
  background-image: url(FONDO.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  background-color: black;
}

H1{
  color: #FFFFFF
}
.Navegador ul li p{
  color: white;
  padding: 7px 2px 7px 2px;
}
.Navegador ul li A{
  color: white;
  padding: 7px 2px 7px 2px;
  text-decoration:none;
  display: block;
}
.Navegador li ul{
  display: none;
  position: absolute;
  max-width: 140px;
}
.Navegador li ul li {
  margin: 10px 10px 0 10px;
}
.Navegador li:hover > ul {
  display: block;
}
.Navegador li{
  list-style: none;
  display: inline-block;
  margin: 60px 30px 0 50px;
  text-align: center;
}

div p {
  color:white;
}

div h2 {
  color:white;
}

div A {
  color:white;
}

.Secciones h2{
  position: absolute;
  top: 170%;
  left:41%;
  text-align: center;
}

.Secciones p{
  position: absolute;
  top: 180%;
  left:31%;
  text-align: center;
}


div img{
  padding: 15px;
  float: left;
}

.NTemas {
 position:  absolute;
 top: 210%;
 left: 10%;
 right: 10%;
white:100%;
}
.NTemas-r{
  position:  absolute;
  top: 300%;
  left: 23%;
  right: 23%;
  white:100%;
}


.Contenido .Navegador , .Secciones , .Temas , .Temas-r , .NTemas , .NTemas-r{
  white:100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
